<template name='header'>
  <header id='main-header'>
    <div id='search-wrapper'>
      <div id='search-links'>
        <div class='nav-link nav-left'>
          <a>
            <i class='fa fa-search'></i>
          </a>
        </div>
      
        <div id='search-form' class='nav-link'>
          <input id='search' type='text' name='search' placeholder='Search' class='form-control' />
        </div>
      
        <div id='close-search' class='nav-link nav-right'>
          <a class='close-icon'>
            <div class='bar'></div>
            <div class='bar'></div>
          </a>
        </div>
      </div>

      <div id='menu' class='nav-link nav-left'>
        <a>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <!-- <i class='fa fa-bars'></i> -->
        </a>
      </div>
    
      <div class='nav-link centered'>
        <a href='/notes'>
          <div id='logo'>
            {{#unless archive}}
              Notes
            {{/unless}}
            {{#if archive}}
              Archive
            {{/if}}
          </div>
        </a>
      </div>
    
      <div id='search-button' class='nav-link nav-right'>
        <a>
          <i class='fa fa-search'></i>
        </a>  
      </div>
    </div>
  </header>
</template>