dark = #2D2E3B
light = white
gold = #E4A100

body
  position:absolute
  top:0px
  left:0px
  right:0px
  bottom:0px
  overflow:hidden
  font-size:16px
  font-family:'merriweather'
  
input:focus
  outline:0
  
a
  cursor:pointer
  
#simple-layout
  background:url('pw_maze_white.png')
  min-height:100%
  .panel
    margin:0 auto
    max-width:500px
    margin-top:80px
    border:1px solid #B8B8BC
    box-shadow:inset #FCFCFF 0px 0px 0px 1px, #8C8E90 0px 1px 3px
    border-radius:2px
    .panel-heading
      background:#fafafc
      font-weight:bold
      text-transform:uppercase
    .panel-body
      background:#f1f1f3
    .form-control
      box-shadow:none
    .form-group
      position:relative
      i.fa
        position:absolute
        right:14px
        top:33px
        color:#CDCDD0
        font-size:18px

#session-links
  margin-top:20px
  font-size:14px
  color:#717480

.btn-primary
  min-width:200px
  border:0
  background:gold
  
#content
  position:absolute
  z-index:1
  top:0px
  left:0px
  right:0px
  bottom:0px
  overflow:auto
  overflow-x:hidden
  -webkit-overflow-scrolling: touch
  transition: 0.1s ease-out
  &.active
    overflow:hidden
    
#wrapper
  position:absolute
  top:60px
  left:0px
  right:0px
  bottom:0px
  transition: 0.1s ease-out
  -webkit-transform: translate3d(0px, 0px, 0px)
  -khtml-transform: translate3d(0px, 0px, 0px)
  -moz-user-transform: translate3d(0px, 0px, 0px)
  -ms-user-transform: translate3d(0px, 0px, 0px)
  transform: translate3d(0px, 0px, 0px)
  z-index:1
  background:#C2C2C2
  &.slide
    transition: 0.15s ease-out
    -webkit-transform: translate3d(300px, 0px, 0px)
    -khtml-transform: translate3d(300px, 0px, 0px)
    -moz-user-transform: translate3d(300px, 0px, 0px)
    -ms-user-transform: translate3d(300px, 0px, 0px)
    transform: translate3d(300px, 0px, 0px)
  
a, a:visited, a:hover
  text-decoration:none
  
.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  
header
  position:absolute
  top:-60px
  left:0px
  right:0px
  height:60px
  line-height:60px
  background:dark
  border-radius:0
  border:0
  z-index:20
  &#note-header
    transition:0.2s ease-out
    transform: translate3d(0px, -60px, 0px)
    background:gray
    &.show
      transform: translate3d(0px, 0px, 0px)
  .nav-link, .search-link
    line-height:60px
    padding:0px 15px
    position:absolute
    &.nav-left
      left:0px
    &.nav-right
      right:0px
    > a
      cursor:pointer
      position:relative
      top:3px
      font-size:28px
      color:white
      text-shadow:none
      i.fa
        font-size:28px
        color:white
        text-shadow:none
  #logo
    color:white
    font-size:24px
  #search-wrapper
    position:relative
    height:120px
    top:-60px
    transition:0.3s ease-out
    transform: translate3d(0px, 0px, 0px)
    &.search
      transform: translate3d(0px, 60px, 0px)
    .nav-link, .search-link
      top:60px
      &.centered
        right:56px
        left:56px
        text-align:center
        > a
          top:0px
      
    .search-link
      position:absolute
      top:0px
      &.search-left
        left:0px
      &.search-right
        right:0px
    #search-form
      height:60px
      left:60px
      right:60px
      input
        width:100%
        background:none
        border:none
        border-radius:0px
        outline:none
        box-shadow:none
        font-size:18px
        padding:18px 12px
        margin-top:10px
        color:white
        &:focus
          border-bottom:2px solid #473A53
      
sidebar
  position:absolute
  left:0px
  top:0px
  bottom:0px
  width:80%
  max-width:300px
  background:darken(dark, 15%)
  box-shadow:inset -10px 0px 10px -10px black
  .list-group
    .list-group-item
      border-radius:0px
      padding:0px
      border:0px
      background:none
      a
        display:block
        line-height:60px
        padding:0px 15px
        &:hover
          background:gray
        .fa
          margin-right:10px
  
#sidebar-cover
  display:none
  position:absolute
  top:0px
  left:300px
  right:0px
  bottom:0px
  z-index:3
  cursor:pointer
  
#actions
  margin:15px 15px 15px 15px
  box-shadow:none
  border:0
  
.dropdown-toggle
  line-height:50px
  padding:0px 15px

.dropdown-menu
  display:block
  transform: scale(0.5, 0) translate(40px, -40px)
  opacity:0
  left:-150px
  &.active
    transition: 0.2s ease-out
    transform-origin: right 0px
    transform: scale(1, 1) translate(0px, 0px)
    opacity:1

.new.show
  margin:0px 15px

#notes, #new-note
  margin:0px 15px
  .note
    overflow:auto
    position:relative
    box-shadow:none
    border:0
    border-radius:2px
    -webkit-overflow-scrolling: touch
    .cover
      display:block
      position:absolute
      top:0px
      left:0px
      right:0px
      bottom:0px
      z-index:2
      cursor:pointer
      &.active
        display:none
    .title
      position:relative
      margin-bottom:0px
      input
        font-weight:bold
    .form-group, .content
      margin:0px -10px
    .content
      margin-bottom:-18px
    input, textarea
      background:none
      border:0
      box-shadow:none
      &.completed
        text-decoration:line-through
        opacity:0.4
    textarea
      height:auto
      width:100%
      resize:none !important
    &.active
      position:relative
      z-index:2
      font-size:18px
      input, textarea
        font-size:18px
    .form-group.create
      position:relative
      margin-top:20px
      input
        padding-left:70px
      .fa
        position:absolute
        top:10px
        left:38px
    .small
      color:gray
      font-size:14px
      margin-top:20px
    .task-placeholder
      height:40px
      background:#FBFBFB
      margin:0 -15px
    .task
      height:34px
      position:relative
      transform: translate(0px, 0px)
      margin:0px 40px 0px 32px
      &.active
        height:40px
        transition: 0.3s ease-out
        transform: translate(18px, 0px)
        margin-left:38px
        i.fa
          font-size:22px
      &.ui-sortable-helper
        transition: 0s
      i.fa
        position:absolute
        top:4px
        left:-34px
        z-index:2
        padding:4px
        cursor:pointer
      .fa-check-square
        color:blue
      .task-input
        opacity:1
        padding-left:2px
      i.fa.fa-bars
        top:7px
        left:-56px
        transform: scale(0,1)
        font-size:14px
        color:#CECECE
        z-index:3
        &.active
          transition: 0.3s ease-out
          transform: scale(1,1)
          -webkit-transform-origin: 100% 50%
      .delete
        position:absolute
        display:none
        top:4px
        right:-20px
          
.note-animate
  opacity:1
  transition: 0.3s ease-out
  transform: translate3d(0px, 0px, 0px) scale(1, 1)
  &.animate
    opacity:0
    transform: translate3d(500px, 100px, 0px) scale(1, 0.5)

for num in (0..20)
  .note-animate:nth-child({num})
    transition-delay: 0.05s * num
          
#messages
  position:absolute
  left:0px
  right:0px
  bottom:0px
  padding:30px
  .message
    position:relative
    z-index:2
    margin-top:10px
    padding:20px
    background:#383838
    border-radius:30px
    color:white
    animation: fadeOut 2700ms ease-in 0s 1 forwards
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards



@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
    
    
    
    