<template name='notes'>
  <div id='notes-wrapper'>
    <header>
      <div id='search-wrapper'>
        <div class='search-link search-left'>
          <a>
            <i class='fa fa-search'></i>
          </a>
        </div>
        
        <div id='search-form' class='search-link'>
          <input id='search' type='text' name='search' placeholder='Search' class='form-control' />
        </div>
        
        <div id='close-search' class='search-link search-right'>
          <a>
            <i class='fa fa-times'></i>
          </a>
        </div>

        <div id='menu' class='nav-link nav-left'>
          <a>
            <i class='fa fa-bars'></i>
          </a>
        </div>
      
        <div class='nav-link centered'>
          <a href='/notes'>
            <div id='logo'>Notes</div>
          </a>
        </div>
      
        <div id='search-button' class='nav-link nav-right'>
          <a>
            <i class='fa fa-search'></i>
          </a>  
        </div>
      </div>
    </header>
  
    <header id='note-header' class='navbar navbar-fixed-top {{notePresent}}'>
      <div class='container-fluid'>
        <ul class='nav navbar-nav'>
          <li>
            <a id='close-note'>X</a>
          </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <a>
              <i class='fa fa-camera'></i>
            </a>
          </li>
          <li>
            <a id='dropdown-toggle' class='no-select'>
              <i class='fa fa-sort-desc'></i>
            </a>
            <ul id='dropdown-menu'>
              <li id='share'>Share</li>
              {{#if archive}}
                <li id='archive'>Unarchive</li>
              {{else}}
                <li id='archive'>Archive</li>  
              {{/if}}
              <li id='delete'>Delete</li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
  
    <div id='content' class='{{activeClass}}'>
      
      {{#unless archive}}
        <div id='actions' class='well'>
          <a class='build-note' data-kind='note'>
            New
            <i class='fa fa-file-text-o'></i>
          </a>
          <a class='build-note' data-kind='list'>
            <i class='fa fa-list-ul'></i>
          </a>
        </div>
      {{/unless}}

      <div id='new-note' class='{{showNew}}'>
        {{#with newNote}}
          {{> note_item}}
        {{/with}}
      </div>
  
      <div id='notes'> 
        {{#each notes}}
          <!-- {{#Animate}} -->
            <!-- <div class='note-animate animate'> -->
              {{> note_item}}
            <!-- </div> -->
          <!-- {{/Animate}} -->
        {{/each}}
        {{#if noNotes}}
          No notes
        {{/if}}
      </div>
    </div>
  </div>
  
  <sidebar>
    <ul class='list-group'>
      <li class='list-group-item'><a id='account'>Account</a></li>
      <li class='list-group-item'><a id='notes-list'>Notes</a></li>
      <li class='list-group-item'><a id='archive-list'>Archive</a></li>
      <li class='list-group-item'><a id='terms'>Terms</a></li>
      <li class='list-group-item'><a id='sign-out'>Signout</a></li>
    </ul>
  </sidebar>
  
</template>

<template name='note_item'>
  <div class='note well {{activeClass}}' data-id='{{_id}}'>
    {{#unless active}}
      <div class='cover'></div>
    {{/unless}}
    <form>
      <input type='hidden' name='kind' value='{{kind}}' tabindex='-1' />
      {{#if showTitle}} <!-- this needs to only hide if not active -->
        <div class='form-group title'>
          <input type='text' name='title' value='{{title}}' tabindex='-1' placeholder='Title' class='form-control' />
        </div>
      {{/if}}
      {{#if kindMatches 'note'}}
        <textarea name='content' placeholder='Note' rows='1' tabindex='-1' class='content form-control' >{{content}}</textarea>
      {{/if}}
    </form>
    {{#if kindMatches 'list'}}
      <div class='tasks'>
        {{#each tasks}}
          {{> task}}
          <div class='task {{activeClass ..}}' data-id={{_id}}>
            <form>
              <i class='fa fa-bars {{activeClass ..}}'></i>
              {{#if completed}}
                <i class='fa fa-check-square'></i>
              {{else}}
                <i class='fa fa-square-o'></i>
              {{/if}}
              <input type='text' name='content' value='{{content}}' tabindex='-1' class='form-control task-input {{completedClass}}'>
              {{#if active ..}}
                <span class='delete hide'>
                  X
                </span>
              {{/if}}
            </form>
          </div>
        {{/each}}
      </div>
      {{#if active}}
        <div class='form-group'>
          <i class='fa fa-plus'></i>
          <form class='create-task'>
            <input type='text' name='create' placeholder='Add Task' class='task-input form-control' />
          </form>
        </div>
        <span class='small'>Edited {{timeInWords updatedAt}}</span>
      {{else}}
        {{#if moreTasks}}
          <div>...</div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name='task'>
  <!-- test -->
</template>