<template name='notes'>
  {{> note_header}}

  <div id='content' class='{{activeClass}}'>
    {{#unless archive}}
      <div id='actions' class='{{#if messages}}bump{{/if}}'>
        <div class='action delay'>
          <a data-kind='note'>
            <i class='fa fa-list-ul'></i>
          </a>
        </div>
        
        <div class='action delay'>
          <a data-kind='list'>
            <i class='fa fa-file-text-o'></i>
          </a>
        </div>
        
        <div id='new-menu'>
          <i class='fa fa-remove no-select'></i>
        </div>
      </div>
    {{/unless}}

    <!-- <div id='new-note' class='{{showNew}}'>
      {{#with newNote}}
        {{> noteForm}}
      {{/with}}
    </div> -->

    <div id='notes' class='animatable'> 
      {{#each notes}}
        {{#Animate}}
          <div class='note-animate animate delay'>
            {{> note}}
          </div>
        {{/Animate}}
      {{/each}}
      {{#if noNotes}}
        <div class='empty'>No notes</div>
      {{/if}}
      {{#with note}}
        {{> noteForm}}
      {{/with}}
    </div>
  </div>
  
</template>