<template name='noteForm'>
  <div class='note well active {{shade}}' data-id={{_id}}  style='background:{{color}}'>
    <form>
      <input type='hidden' name='kind' value='{{kind}}' tabindex='-1' />
      <div class='form-group title'>
        <input type='text' name='title' value='{{title}}' tabindex='-1' placeholder='Title' class='form-control' />
      </div>
      {{#if kindMatches 'note'}}
        <textarea name='content' placeholder='Note' rows='1' tabindex='-1' class='content form-control'>{{content}}</textarea>
      {{/if}}
    </form>
    {{#if kindMatches 'list'}}
      <div class='tasks'>
        {{#each tasks}}
          {{> task}}
        {{/each}}
      </div>
      <div class='form-group create'>
        <i class='fa fa-plus'></i>
        <form class='create-task'>
          <input type='text' name='create' placeholder='Add Task' class='create-task-input form-control' tabindex='1' />
        </form>
      </div>
    {{/if}}
    <span class='small pull-right'>Edited {{timeInWords updatedAt}}</span>
  </div>
</template>

<template name='task'>
  <div class='task active {{#if completed}}completed{{/if}}' data-id={{_id}}>
    <form>
      <i class='fa fa-bars {{activeClass ..}}'></i>
      <i class='fa fa-square-o'></i>
      <i class='fa fa-check-square'></i>
      <input type='text' name='content' value='{{content}}' tabindex='-1' class='form-control task-input {{#if completed}}completed{{/if}}'>
      {{#if active ..}}
        <span class='delete'>
          <i class='fa fa-remove'></i>  <!-- Make this an icon -->
        </span>
      {{/if}}
    </form>
  </div>
</template>