<template name='notes'>

  {{> note_header}}

  <div id='content' class='{{activeClass}}'>
    
    {{#unless archive}}
      <div id='actions' class='well'>
        <a class='build-note' data-kind='note'>
          New
          <i class='fa fa-file-text-o'></i>
        </a>
        <a class='build-note' data-kind='list'>
          <i class='fa fa-list-ul'></i>
        </a>
      </div>
    {{/unless}}

    <div id='new-note' class='{{showNew}}'>
      {{#with newNote}}
        {{> note}}
      {{/with}}
    </div>

    <div id='notes'> 
      {{#each notes}}
<!--         {{#Animate}}
          <div class='note-animate animate'> -->
            {{> note}}
<!--           </div>
        {{/Animate}} -->
      {{/each}}
      {{#if noNotes}}
        No notes
      {{/if}}
    </div>
  </div>
  
</template>