<template name='note_header'>
  <header id='note-header' class='{{#if showHeader}}show{{/if}}'>
    <div id='close-note' class='nav-link nav-left'>
      <a class='close-icon'>
        <i class='fa fa-chevron-left'></i>
        <span>Back</span>
      </a>
    </div>
    <div class='nav-link nav-right dropdown-toggle'>
      <a>
        <i class='fa fa-ellipsis-v no-select'></i>
      </a>
      <ul class='dropdown-menu'>
        <li>
          <a href='/notes/{{note._id}}/share' id='share'>Share</a>
        </li>
        {{#if archive}}
          <li id='archive'>
            <a>Unarchive</a>
          </li>
        {{else}}
          <li id='archive'>
            <a>Archive</a>
          </li>  
        {{/if}}
        <li id='delete'>
          <a>Delete</a>
        </li>
        {{#if isList}}
          <li id='delete-completed'>
            <a>Remove Completed</a>
          </li>
        {{/if}}
      </ul>
    </div>
    <div class='nav-link nav-right'>
      <a id='share' href='/notes/{{note._id}}/share'>
        <i class='fa fa-share-alt'></i>
      </a>
    </div>
    <div class='nav-link nav-right dropdown-toggle'>
      <a id='color'>
        <i class='fa fa-palette'></i>
      </a>
      <ul class='colors dropdown-menu'>
        {{#each colors ..}}
          <div class='color {{#if activeColor this}}active{{/if}}' style='background:{{this}}' data-color='{{this}}'></div>
        {{/each}}
      </ul>
    </div>
  </header>
</template>