<template name='note'>
  <div class='note-wrapper'>
    <div class='note well' data-id='{{_id}}'>
      <a class='cover' href='/notes/{{_id}}'></a>
      <form>
        <input type='hidden' name='kind' value='{{kind}}' tabindex='-1' />
        {{#if showTitle}}
          <div class='form-group title'>
            <input type='text' name='title' value='{{title}}' tabindex='-1' placeholder='Title' class='form-control' />
          </div>
        {{/if}}
        {{#if kindMatches 'note'}}
          <textarea name='content' placeholder='Note' rows='1' tabindex='-1' class='content form-control'>{{content}}</textarea>
        {{/if}}
      </form>
      {{#if kindMatches 'list'}}
        <div class='tasks'>
          {{#each tasks}}
            <div class='task {{activeClass ..}}' data-id={{_id}}>
              <form>
                <i class='fa fa-bars {{activeClass ..}}'></i>
                {{#if completed}}
                  <i class='fa fa-check-square'></i>
                {{else}}
                  <i class='fa fa-square-o'></i>
                {{/if}}
                <input type='text' name='content' value='{{content}}' tabindex='-1' class='form-control task-input {{completedClass}}'>
              </form>
            </div>
          {{/each}}
        </div>
        {{#if moreTasks}}
          <div>...</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>