<template name='note_header'>
  <header id='note-header' class='{{notePresent}}'>
    <div id='close-note' class='nav-link nav-left'>
      <a class='close-icon'>
        <div class='bar'></div>
        <div class='bar'></div>
      </a>
    </div>
    <div class='nav-link nav-right dropdown-toggle'>
      <a>
        <i class='fa fa-ellipsis-v no-select'></i>
      </a>
      <ul class='dropdown-menu'>
        <li>
          <a href='/notes/{{note._id}}/share' id='share'>Share</a>
        </li>
        {{#if archive}}
          <li id='archive'>
            <a>Unarchive</a>
          </li>
        {{else}}
          <li id='archive'>
            <a>Archive</a>
          </li>  
        {{/if}}
        <li id='delete'>
          <a>Delete</a>
        </li>
        {{#if isList}}
          <li id='delete-completed'>
            <a>Remove Completed</a>
          </li>
        {{/if}}
      </ul>
    </div>
    <div class='nav-link nav-right'>
      <a id='share'>
        <i class='fa fa-user'></i>
      </a>
    </div>
  </header>
</template>