<template name='notes'>

  {{> note_header}}

  <div id='content' class='{{activeClass}}'>
    {{#unless archive}}
      <div id='actions' class='well clearfix'>
        <div class='col-xs-6'>
          <a class='build-note' data-kind='note'>
            <i class='fa fa-file-text-o'></i>
            New Note
          </a>
        </div>
        <div class='col-xs-6'>
          <a class='build-note' data-kind='list'>
            <i class='fa fa-list-ul'></i>
            New List
          </a>
        </div>
      </div>
    {{/unless}}

    <div id='new-note' class='{{showNew}}'>
      {{#with newNote}}
        {{> note}}
      {{/with}}
    </div>

    <div id='notes'> 
      {{#each notes}}
<!--         {{#Animate}}
          <div class='note-animate animate'> -->
            {{> note}}
<!--           </div>
        {{/Animate}} -->
      {{/each}}
      {{#if noNotes}}
        No notes
      {{/if}}
    </div>
  </div>
  
</template>