<template name='share'>
  <div id='share-template'>
    <header id='share-header'>
      <div class='nav-link nav-left'>
        <a class='close-icon' href="/notes/{{_id}}">
          <div class='bar'></div>
          <div class='bar'></div>
        </a>
      </div>
    </header>
  
    <div id='share-content'>
      <div class='container'>
        <label for='email'>Email</label>
        <input id='share-email' type='email' placeholder='Email' class='form-control' />

        <a href='/notes/{{_id}}' class='btn btn-default'>Cancel</a>
        <button type='button' id='send-share' class='btn btn-primary'><i class='fa fa-send'></i> Send</button>
      </div>
    </div>
  </div>
</template>