<template name='sessionLinks'>
  <div id='session-links' class='text-center clearfix'>
    {{#if show 'sign-in'}}
      <div class='col-xs-6'>
        <a href='{{pathFor "signIn"}}'>Log in</a>
      </div>
    {{/if}}
    {{#if show 'register'}}
      <div class='col-xs-6'>
        <a href='{{pathFor "register"}}'>Register</a>
      </div>
    {{/if}}
    {{#if show 'forgot-password'}}
      <div class='col-xs-6'>
        <a href='{{pathFor "forgotPassword"}}'>Password</a>
      </div>
    {{/if}}
  </div>
</template>