<template name='sidebar'>
  <div id='sidebar-cover'></div>
  <sidebar>
    <ul class='list-group'>
      <li class='list-group-item'>
        <a id='account' href="{{pathFor 'account'}}"><i class='fa fa-cog'></i>Account</a>
      </li>

      <li class='list-group-item'>
        <a id='notes-list' href="{{pathFor 'notes'}}"><i class='fa fa-file-text-o'></i>Notes</a>
      </li>

      <li class='list-group-item'>
        <a id='archive-list' href="{{pathFor route='archive'}}"><i class='fa fa-archive'></i>Archive</a>
      </li>

      <!-- <li class='list-group-item'>
        <small><a id='terms'>Terms</a></small>
      </li> -->
    </ul>
  </sidebar>
</template>